* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif, Arial, Helvetica;
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  border-radius: 3px;
  min-width: 130px;
  text-align: center;
  padding: 5px;
  color: #fff;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.btn.btn-primary {
  background-color: #418bff;
}

.btn.btn-secundary {
  background-color: #c4b2b2;
  background-color: #0041a7;
}

.btn:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background: #0e6cff;
  min-height: 70vh;
}

header nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 20px 0;
}

header nav .logo {
  font-size: 1.5em;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

header nav ul li {
  padding: 0 10px;
}

header nav a {
  color: #fff;
}

header .showcase-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .showcase-content .section-col {
  max-width: 50%;
  color: #fff;
}

header .showcase-content .section-col h1 {
  font-size: 2em;
}

header .showcase-content .section-col p {
  line-height: 1.5;
  font-size: 12px;
  margin: 20px 0;
}

header .showcase-content img {
  max-width: 350px;
}

@media (min-width: 721px) and (max-width: 1024px) {
  header {
    background-color: purple;
    min-height: 40vh;
  }
}

@media (min-width: 320px) and (max-width: 720px) {
  header {
    background-color: green;
  }
  header .showcase-content {
    margin-top: 40px;
  }
  header .showcase-content .section-col {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */