// Este archivo define los estilos de mi header
header {
    background: $primaryColor;
    min-height: 70vh;
    nav {
        width: 100%;
        @include displayFlexRow();
        padding: 20px 0;
        .logo {
            font-size: 1.5em;
        }
        ul {
            @include displayFlexRow();
            li {
                padding: 0 10px;
            }
        }
        a {
            color: $textColorWhite;
        }
    }
    .showcase-content {
        // @include displayFlexRow();
        @include displayFlexDinamico(row, center, center, wrap);
        .section-col {
            max-width: 50%;
            color: $textColorWhite;
            h1 {
                font-size: 2em;
            }
            p {
                line-height: 1.5;
                font-size: 12px;
                margin: 20px 0;
            }
        }
        img {
            max-width: 350px;
        }
    }
}