/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

h1,
h3,
p,
a,
span {
    background: #000;
    color: #fff;
    /* margin */
}

h2 {
    text-align: center;
}

a,
span {
    /* height: 200px; */
    /* padding: 100px; */
    /* width: 200px; */
}

.separator {
    border-bottom: 10px solid #eee;
    width: 100%;
}

.caja {
    background: #4A88F4;
    width: 100px;
    height: 100px;
    margin: 20px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    line-height: 100px;
}

.cajaPadre {
    position: relative;
}

.cajaRelativa {
    /* position: static; */
    position: relative;
    /* top: 20px; */
    /* left: 100px;
    bottom: 200px;
    right: 2000px; */
}


/* .cajaAbsoluta {
    position: absolute;
    top: 0;
}

.cajaFija {
    position: fixed;
    top: 200px;
    left: 250px;
}

.cajaSticky {
    position: sticky;
    top: 200px;
    left: 500px;
} */


/* ==========================================================================
** Transiciones
** ========================================================================== */

.transition-container {
    width: 80%;
    margin: auto;
    padding: 10px;
    border: 1px solid #ddd;
}

.transition-container .caja {
    /* transition: all 1.9s ease; */
    /* transition-property: border-radius, transform;
    transition-duration: 1.5s;
    transition-timing-function: linear;
    transition-delay: 1s; */
    /* transition: border-radius, transform 1.5s linear; */
    transition: border-radius 2s, transform 1.5s ease;
}

.transition-container:hover .caja {
    border-radius: 50%;
    transform: translate(600px);
}